flows.json
[
    {
        "id": "bc3f40f178b15cc3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "350f3f1be5bf834e",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93bfa7be5611ed79",
        "type": "tab",
        "label": "Connect The Wires",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1538f107b6f4fdc",
        "type": "tab",
        "label": "Button",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcf0c6616a19d3cd",
        "type": "tab",
        "label": "Reed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "063501cbf8d4d96b",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "aa84b0b3f6f24d4c",
            "e2d366190836429a",
            "758310f9eb5818de",
            "c7c4685c94a69e6f",
            "34e41184596a8cc2",
            "87d09c692b8687fc"
        ],
        "x": 34,
        "y": 79,
        "w": 302,
        "h": 202
    },
    {
        "id": "88186d2d626ead90",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "c60ade8d2522e8b4",
            "42d9fcf53b80577d"
        ],
        "x": 374,
        "y": 79,
        "w": 312,
        "h": 82
    },
    {
        "id": "1d39f27b3d601c72",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "197160bd5c9b62c4",
            "0deb9fba3b6f3c48",
            "c1d322a0a9c2b4ac",
            "4a56258a14858018",
            "d2bfa31323cf7730",
            "98ab54042d4213d0",
            "342f119e8f4998e2",
            "890f86205d47ef77",
            "ef582930fa6e08ef",
            "4e6a3fb6ac8e60de",
            "4a863b19c2050c0a",
            "4f3e8b2d7209c3c4",
            "442e7bc38dd4c3b7",
            "06ef4faf69df41d0"
        ],
        "x": 34,
        "y": 319,
        "w": 672,
        "h": 202
    },
    {
        "id": "c870415b6658eca9",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "4a9c0dfb1f0b9b85",
            "c8fb5887561b01d3",
            "39e77fdf6d2e5543",
            "75a596869f308dab",
            "e7252fb6a4819ecf",
            "f457b1998a5d01b9",
            "2ce811328a35a524",
            "a98c2ab0de57b58a",
            "32180624627a2049",
            "f93150b86a48dd2b",
            "0c9d3ef3bf7c7bc0",
            "465e64fa2453bb6a",
            "6e87bf8ee8b2ac47",
            "f020309c907b1b75",
            "59b3354d12a64752",
            "65c75d67cdeec25c"
        ],
        "x": 34,
        "y": 559,
        "w": 812,
        "h": 342
    },
    {
        "id": "40ac803f180ca667",
        "type": "group",
        "z": "93bfa7be5611ed79",
        "name": "Initial state set on system startup / reset",
        "style": {
            "label": true
        },
        "nodes": [
            "1bf9a947777f7090",
            "5036be253a8f6ed5",
            "07abad867daa174f",
            "4444bfbafa153eec",
            "1026dad58359b3d9"
        ],
        "x": 94,
        "y": 79,
        "w": 462,
        "h": 122
    },
    {
        "id": "784cd73750252334",
        "type": "group",
        "z": "93bfa7be5611ed79",
        "name": "Receive updates from device",
        "style": {
            "label": true
        },
        "nodes": [
            "207453df94b85781",
            "8303fcc867aa8da3",
            "12db1ad0fca4239f",
            "66e7a92b35265f55",
            "2724a5779c969454",
            "48f6405eb02a815c",
            "5eae4c2982e7ed08",
            "3a21df5234d32109",
            "3407915547214bd1",
            "6bfb362e0fc7f4e3",
            "a3468a7870285df5"
        ],
        "x": 84,
        "y": 239,
        "w": 972,
        "h": 282
    },
    {
        "id": "6f6edaeb1d55cba0",
        "type": "group",
        "z": "93bfa7be5611ed79",
        "name": "Send updates to device",
        "style": {
            "label": true
        },
        "nodes": [
            "97639973ae7afe14",
            "9cb3f87d5803ef00",
            "0f7465abf873bd05",
            "7934503c5f821063",
            "754ae284ffe99c31",
            "16e21ab268612f1e",
            "17c3ab744cb88da0",
            "dc9a44bba74954d2",
            "e5e469f546877986",
            "79da5e35fbbc93f8",
            "8d971bf7b0481225",
            "2897ef21b7e94a83",
            "4db603c45a36131e",
            "453dc20ebbae07cf",
            "cb5e9f7ad5136d47",
            "49a8dd708c1b4f34",
            "fa6d2e984fcf7cfc",
            "8fed383227e051a1",
            "a53b690add9c95d8",
            "13330a5229df6135"
        ],
        "x": 1084,
        "y": 219,
        "w": 422,
        "h": 542
    },
    {
        "id": "7a422e636d546f40",
        "type": "group",
        "z": "93bfa7be5611ed79",
        "name": "Dashboard controls",
        "style": {
            "label": true
        },
        "nodes": [
            "b02248e1f8d487f1",
            "b7734c6ffcf854ea",
            "c88c7bb4822e7522",
            "c16d3978917dde1e",
            "41e7fd674b4abf78",
            "26d7074e84cca523",
            "cb509f47926e0892",
            "252b7e825424bfbc"
        ],
        "x": 94,
        "y": 559,
        "w": 542,
        "h": 202
    },
    {
        "id": "2474c6296f0ff089",
        "type": "group",
        "z": "93bfa7be5611ed79",
        "name": "Game Events",
        "style": {
            "label": true
        },
        "nodes": [
            "1a47e0035cae9ff0",
            "3b72506c6dd97cd0",
            "d61cf2628d35a7fc",
            "916b3d897a697285"
        ],
        "x": 584,
        "y": 79,
        "w": 432,
        "h": 82
    },
    {
        "id": "f6cd596f08218abf",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Initial state set on system startup / reset",
        "style": {
            "label": true
        },
        "nodes": [
            "fe525b913c466898",
            "91f5a57b8686c80a",
            "fad501df9730e3cd"
        ],
        "x": 14,
        "y": 19,
        "w": 292,
        "h": 122
    },
    {
        "id": "83ec599797030eba",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Receive updates from device",
        "style": {
            "label": true
        },
        "nodes": [
            "eae1ab410ce116f7",
            "e515b2cbd3fd607a",
            "1c527c4b5a4abf42",
            "9db6f797af565f6d",
            "74647cf8af72f5f2",
            "c1ae3a0b21703c42"
        ],
        "x": 74,
        "y": 159,
        "w": 232,
        "h": 282
    },
    {
        "id": "287cddd6953c1cbd",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Send updates to device",
        "style": {
            "label": true
        },
        "nodes": [
            "9b390b713b48f7f6",
            "aab1e2292b20982c",
            "e7783caa4d468f89",
            "3ee03b513fbbadf7",
            "8033bc0ae52a4c01",
            "3420a7e0ad035902",
            "7b830cddb6dc1176",
            "4365ef5bec7a3903",
            "18404cad9ee52512"
        ],
        "x": 724,
        "y": 399,
        "w": 562,
        "h": 282
    },
    {
        "id": "217067ffa17d7c85",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Dashboard overrides",
        "style": {
            "label": true
        },
        "nodes": [
            "717ad61c6b53591d",
            "8a055186d1dd9b0f"
        ],
        "x": 433,
        "y": 439,
        "w": 173,
        "h": 122
    },
    {
        "id": "f08ba3d0ec182a89",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "a38c3d325d960343",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "45013fdfd43f76cb",
        "type": "ui_spacer",
        "z": "350f3f1be5bf834e",
        "name": "spacer",
        "group": "f08ba3d0ec182a89",
        "order": 6,
        "width": "6",
        "height": "1"
    },
    {
        "id": "3a054ffea2c5314f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8396df2f5978da6f",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d02b7f3c5e5df6dc",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bc988420b6a0a649",
        "type": "websocket-listener",
        "path": "/ws/input",
        "wholemsg": "false"
    },
    {
        "id": "ddc4c194acf07958",
        "type": "ui_group",
        "name": "Connect the Wires",
        "tab": "a38c3d325d960343",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8f886ae1479c4797",
        "type": "ui_group",
        "name": "Button",
        "tab": "a38c3d325d960343",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e976676.9e1538",
        "type": "websocket-listener",
        "path": "/ws/input",
        "wholemsg": "false"
    },
    {
        "id": "712f4f6179783e86",
        "type": "ui_group",
        "name": "Cover Up",
        "tab": "a38c3d325d960343",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aac8b69ca8e1e068",
        "type": "ui_tab",
        "name": "Puzzle Status Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af93c53b4bbc79b1",
        "type": "ui_group",
        "name": "Finale Button",
        "tab": "a38c3d325d960343",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cb8410f1e8faed8",
        "type": "rpi-gpio in",
        "z": "bc3f40f178b15cc3",
        "name": "",
        "pin": "4",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "328bab6004f0eb10"
            ]
        ]
    },
    {
        "id": "33594149ba6f023e",
        "type": "ui_switch",
        "z": "bc3f40f178b15cc3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "af93c53b4bbc79b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "328bab6004f0eb10",
        "type": "change",
        "z": "bc3f40f178b15cc3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "33594149ba6f023e"
            ]
        ]
    },
    {
        "id": "4a56258a14858018",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "ef582930fa6e08ef"
            ]
        ]
    },
    {
        "id": "d2bfa31323cf7730",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + $millis() - $flowContext('startTime')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "4a863b19c2050c0a"
            ]
        ]
    },
    {
        "id": "98ab54042d4213d0",
        "type": "switch",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "4a56258a14858018"
            ]
        ]
    },
    {
        "id": "342f119e8f4998e2",
        "type": "switch",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "d2bfa31323cf7730"
            ]
        ]
    },
    {
        "id": "890f86205d47ef77",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "gameDuration",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "timeElapsed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "442e7bc38dd4c3b7"
            ]
        ]
    },
    {
        "id": "c60ade8d2522e8b4",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "88186d2d626ead90",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"gameDuration\", 3600000);\nglobal.set(\"elapsedTimeDelta\", 0);\nglobal.set(\"timeElapsed\", 0);\nglobal.set(\"timeRemaining\", 3600000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "cd9c79c0f7ca4c12"
            ]
        ]
    },
    {
        "id": "42d9fcf53b80577d",
        "type": "link in",
        "z": "350f3f1be5bf834e",
        "g": "88186d2d626ead90",
        "name": "",
        "links": [
            "758310f9eb5818de"
        ],
        "x": 415,
        "y": 120,
        "wires": [
            [
                "c60ade8d2522e8b4"
            ]
        ]
    },
    {
        "id": "ef582930fa6e08ef",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Start",
        "links": [
            "65781ff6.32997",
            "f64afdb2.ae6738",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    },
    {
        "id": "4e6a3fb6ac8e60de",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "4a863b19c2050c0a",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Stop",
        "links": [
            "b6c64fbb.744e7",
            "f64afdb2.ae6738",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f3e8b2d7209c3c4",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Stop",
        "info": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "442e7bc38dd4c3b7",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Reset",
        "links": [
            "b72df54c.54dbc8",
            "f476429e.39f778",
            "fad501df9730e3cd",
            "5051fca6f0fc24ce",
            "771ef7315cbeaed4",
            "6aa55bc0969c2645",
            "f64afdb2.ae6738",
            "27a13ceb38ba3113",
            "b24d6dd76f244e1c",
            "561c4af966865974",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 480,
        "wires": []
    },
    {
        "id": "05b37843628a96bf",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "aa84b0b3f6f24d4c",
        "type": "inject",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "Every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c7c4685c94a69e6f"
            ]
        ]
    },
    {
        "id": "e2d366190836429a",
        "type": "inject",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Initialisation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "758310f9eb5818de"
            ]
        ]
    },
    {
        "id": "758310f9eb5818de",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "42d9fcf53b80577d",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6"
        ],
        "x": 295,
        "y": 120,
        "wires": []
    },
    {
        "id": "c7c4685c94a69e6f",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Tick",
        "links": [
            "81cfa1d4.86b898",
            "75a596869f308dab",
            "d9928e8d.c5c588",
            "c0f514cb.a0e9c8",
            "e1535ac3.a19198",
            "e4a697a8.359b38",
            "8bdfc662.b74d28",
            "fde61d47216f1287"
        ],
        "x": 295,
        "y": 180,
        "wires": []
    },
    {
        "id": "87d09c692b8687fc",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Browser Refresh",
        "mode": "link",
        "links": [],
        "x": 295,
        "y": 240,
        "wires": []
    },
    {
        "id": "e364bd8ab15e99bb",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Dashboard Styling",
        "info": "",
        "x": 990,
        "y": 101,
        "wires": []
    },
    {
        "id": "a16e88a8d5c65b16",
        "type": "catch",
        "z": "350f3f1be5bf834e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 940,
        "y": 260,
        "wires": [
            [
                "c02c1b80ce61d7d7"
            ]
        ]
    },
    {
        "id": "c02c1b80ce61d7d7",
        "type": "debug",
        "z": "350f3f1be5bf834e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "a4e1b2d5ee32da8d",
        "type": "complete",
        "z": "350f3f1be5bf834e",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "c02c1b80ce61d7d7"
            ]
        ]
    },
    {
        "id": "21156e9a382b1245",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Exception Handling",
        "info": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd9c79c0f7ca4c12",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 695,
        "y": 120,
        "wires": []
    },
    {
        "id": "06ef4faf69df41d0",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a9c0dfb1f0b9b85",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Update Timer",
        "func": "// Retrieve current state of global timer variables\nvar gameState = global.get(\"gameState\") || 'playing';\nvar gameDuration = global.get(\"gameDuration\") || 0;\nvar elapsedTimeDelta = global.get(\"elapsedTimeDelta\") || 0;\n// Total time elapsed is duration since the start button was last pressed, + any adjustments\nvar timeElapsed = global.get(\"timeElapsed\") || 0;\nvar startTime = flow.get(\"startTime\") || 0;\n\n// If the game is active, update the time elapsed\nif(gameState == \"playing\") {\n\n    // Total time elapsed is duration since the start button was last pressed, + any adjustments\n    timeElapsed = (Date.now() - startTime);\n\n    // Update the global variable\n    global.set(\"timeElapsed\", timeElapsed);\n}\n\n// We update these even if gameState is not playing, to allow for\n// adjustments to gameDuration or timeElapsed made when game is stopped\nvar timeElapsedAfterAdjustments = timeElapsed += elapsedTimeDelta;\nvar timeRemaining = gameDuration - timeElapsed;\n\nglobal.set(\"timeRemaining\", timeRemaining);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: timeRemaining });\n\n// Update the msg to carry string\nmsg.timeElapsed = timeElapsedAfterAdjustments;        \nmsg.timeRemaining = timeRemaining;\n\n// Only need to update UI if timeRemaining has changed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 600,
        "wires": [
            [
                "39e77fdf6d2e5543"
            ]
        ]
    },
    {
        "id": "39e77fdf6d2e5543",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Format Time for Dashboard Display",
        "func": "// Create formattedTime in hh:mm:ss\nvar t = msg.timeElapsed / 1000; //ms\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\nmsg.formattedTimeElapsed = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\nvar t2 = msg.timeRemaining / 1000; //ms\nvar h2 = Math.floor(t2 / 3600);\nvar m2 = Math.floor(t2 % 3600 / 60);\nvar s2 = Math.floor(t2 % 3600 % 60);\nmsg.formattedTimeRemaining = (\"0\" + h2).slice(-2) + \":\" + (\"0\" + m2).slice(-2) + \":\" + (\"0\" + s2).slice(-2);\n\nvar t3 = global.get(\"gameDuration\") / 1000; //ms\nvar h3 = Math.floor(t3 / 3600);\nvar m3 = Math.floor(t3 % 3600 / 60);\nvar s3 = Math.floor(t3 % 3600 % 60);\nmsg.formattedGameDuration = (\"0\" + h3).slice(-2) + \":\" + (\"0\" + m3).slice(-2) + \":\" + (\"0\" + s3).slice(-2);\n\n// Set timeColour depending on current gamestate and time remaining\nvar gameState = global.get(\"gameState\");\nif (gameState == \"playing\") {\n    if (msg.timeRemaining < 60000) { msg.timeColour = \"red\"; }\n    else { msg.timeColour = \"green\"; }\n}\nelse { msg.timeColour = \"white\"; }\n\n// Update the editor node\nnode.status({ fill: msg.timeColour, shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "c8fb5887561b01d3",
                "f93150b86a48dd2b",
                "59b3354d12a64752"
            ]
        ]
    },
    {
        "id": "75a596869f308dab",
        "type": "link in",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "links": [
            "c7c4685c94a69e6f",
            "ef582930fa6e08ef",
            "4a863b19c2050c0a",
            "442e7bc38dd4c3b7",
            "cd9c79c0f7ca4c12",
            "32180624627a2049"
        ],
        "x": 85,
        "y": 600,
        "wires": [
            [
                "4a9c0dfb1f0b9b85"
            ]
        ]
    },
    {
        "id": "2ce811328a35a524",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "a98c2ab0de57b58a",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 780,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "32180624627a2049",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "75a596869f308dab"
        ],
        "x": 535,
        "y": 800,
        "wires": []
    },
    {
        "id": "0c9d3ef3bf7c7bc0",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 820,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "6e87bf8ee8b2ac47",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "65c75d67cdeec25c",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 700,
        "wires": []
    },
    {
        "id": "197160bd5c9b62c4",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 5,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "98ab54042d4213d0"
            ]
        ]
    },
    {
        "id": "0deb9fba3b6f3c48",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 3,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-stop",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "342f119e8f4998e2"
            ]
        ]
    },
    {
        "id": "c1d322a0a9c2b4ac",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "890f86205d47ef77"
            ]
        ]
    },
    {
        "id": "e7252fb6a4819ecf",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 9,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "2ce811328a35a524"
            ]
        ]
    },
    {
        "id": "f457b1998a5d01b9",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "a98c2ab0de57b58a"
            ]
        ]
    },
    {
        "id": "465e64fa2453bb6a",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 12,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "0c9d3ef3bf7c7bc0"
            ]
        ]
    },
    {
        "id": "f020309c907b1b75",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "6e87bf8ee8b2ac47"
            ]
        ]
    },
    {
        "id": "f93150b86a48dd2b",
        "type": "ui_text",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "order": 8,
        "width": "2",
        "height": "1",
        "name": "Game Duration",
        "label": "Duration",
        "format": "{{msg.formattedGameDuration}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "59b3354d12a64752",
        "type": "ui_text",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "order": 11,
        "width": "2",
        "height": "1",
        "name": "Time Elapsed",
        "label": "Elapsed",
        "format": "{{msg.formattedTimeElapsed}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "34e41184596a8cc2",
        "type": "ui_ui_control",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "87d09c692b8687fc"
            ]
        ]
    },
    {
        "id": "0b46b07651aabd95",
        "type": "ui_template",
        "z": "350f3f1be5bf834e",
        "group": "f08ba3d0ec182a89",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1000,
        "y": 140,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "c8fb5887561b01d3",
        "type": "ui_template",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "name": "Time Remaining",
        "order": 2,
        "width": "6",
        "height": "3",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.formattedTimeRemaining}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1bf9a947777f7090",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "40ac803f180ca667",
        "name": "Configuration",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "{\"id\":\"Wires-1\",\"name\":\"Connect The Wires\",\"description\":\"Players must plug cables into the correct sockets\",\"inputs\":[{\"F\":1,\"T\":2,\"S\":0},{\"F\":3,\"T\":0,\"S\":0},{\"F\":4,\"T\":6,\"S\":0},{\"F\":5,\"T\":7,\"S\":0}],\"state\":\"UNSOLVED\",\"ip\":\"0.0.0.0\",\"port\":\"23\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "1026dad58359b3d9"
            ]
        ]
    },
    {
        "id": "5036be253a8f6ed5",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "40ac803f180ca667",
        "name": "On Initialisation",
        "links": [
            "758310f9eb5818de"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "1bf9a947777f7090"
            ]
        ]
    },
    {
        "id": "07abad867daa174f",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "40ac803f180ca667",
        "name": "On Reset",
        "links": [
            "442e7bc38dd4c3b7"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "1bf9a947777f7090"
            ]
        ]
    },
    {
        "id": "4444bfbafa153eec",
        "type": "link out",
        "z": "93bfa7be5611ed79",
        "g": "40ac803f180ca667",
        "name": "On Config Set",
        "mode": "link",
        "links": [
            "3a21df5234d32109",
            "80df62030689a0b8",
            "44742918442ed8d4",
            "79da5e35fbbc93f8",
            "8d971bf7b0481225",
            "2897ef21b7e94a83",
            "0e6a7ea34ed569b3",
            "252b7e825424bfbc"
        ],
        "x": 515,
        "y": 140,
        "wires": []
    },
    {
        "id": "1026dad58359b3d9",
        "type": "function",
        "z": "93bfa7be5611ed79",
        "g": "40ac803f180ca667",
        "name": "Store",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "4444bfbafa153eec"
            ]
        ]
    },
    {
        "id": "207453df94b85781",
        "type": "mqtt in",
        "z": "93bfa7be5611ed79",
        "g": "784cd73750252334",
        "name": "MQTT FromDevice",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8396df2f5978da6f",
        "nl": false,
        "rap": false,
        "inputs": 1,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "3407915547214bd1"
            ]
        ]
    },
    {
        "id": "8303fcc867aa8da3",
        "type": "udp in",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "784cd73750252334",
        "name": "",
        "iface": "",
        "port": "161",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "3407915547214bd1"
            ]
        ]
    },
    {
        "id": "12db1ad0fca4239f",
        "type": "tcp in",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "784cd73750252334",
        "name": "",
        "server": "server",
        "host": "",
        "port": "80",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "3407915547214bd1"
            ]
        ]
    },
    {
        "id": "66e7a92b35265f55",
        "type": "serial in",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "784cd73750252334",
        "name": "",
        "serial": "d02b7f3c5e5df6dc",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "3407915547214bd1"
            ]
        ]
    },
    {
        "id": "2724a5779c969454",
        "type": "websocket in",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "784cd73750252334",
        "name": "",
        "server": "bc988420b6a0a649",
        "client": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "3407915547214bd1"
            ]
        ]
    },
    {
        "id": "48f6405eb02a815c",
        "type": "http in",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "784cd73750252334",
        "name": "",
        "url": "/FromDevice",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "3407915547214bd1"
            ]
        ]
    },
    {
        "id": "5eae4c2982e7ed08",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "784cd73750252334",
        "name": "Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'FromDevice/' & $$.payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "207453df94b85781"
            ]
        ]
    },
    {
        "id": "3a21df5234d32109",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "784cd73750252334",
        "name": "link in 43",
        "links": [
            "4444bfbafa153eec"
        ],
        "x": 125,
        "y": 280,
        "wires": [
            [
                "5eae4c2982e7ed08"
            ]
        ]
    },
    {
        "id": "3407915547214bd1",
        "type": "json",
        "z": "93bfa7be5611ed79",
        "g": "784cd73750252334",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "6bfb362e0fc7f4e3"
            ]
        ]
    },
    {
        "id": "6bfb362e0fc7f4e3",
        "type": "function",
        "z": "93bfa7be5611ed79",
        "g": "784cd73750252334",
        "name": "Parse JSON and update stored state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 360,
        "wires": [
            [
                "a3468a7870285df5"
            ]
        ]
    },
    {
        "id": "a3468a7870285df5",
        "type": "link out",
        "z": "93bfa7be5611ed79",
        "g": "784cd73750252334",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "252b7e825424bfbc"
        ],
        "x": 1015,
        "y": 360,
        "wires": []
    },
    {
        "id": "97639973ae7afe14",
        "type": "mqtt out",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "MQTT ToDevice",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8396df2f5978da6f",
        "x": 1400,
        "y": 300,
        "wires": []
    },
    {
        "id": "9cb3f87d5803ef00",
        "type": "tcp out",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "6f6edaeb1d55cba0",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1430,
        "y": 540,
        "wires": []
    },
    {
        "id": "0f7465abf873bd05",
        "type": "serial out",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "6f6edaeb1d55cba0",
        "name": "",
        "serial": "",
        "x": 1430,
        "y": 380,
        "wires": []
    },
    {
        "id": "7934503c5f821063",
        "type": "udp out",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "6f6edaeb1d55cba0",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "754ae284ffe99c31",
        "type": "websocket out",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "6f6edaeb1d55cba0",
        "name": "",
        "server": "bc988420b6a0a649",
        "client": "",
        "x": 1400,
        "y": 620,
        "wires": []
    },
    {
        "id": "16e21ab268612f1e",
        "type": "http request",
        "z": "93bfa7be5611ed79",
        "d": true,
        "g": "6f6edaeb1d55cba0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1410,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "17c3ab744cb88da0",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "Set Target IP and Port",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "7934503c5f821063"
            ]
        ]
    },
    {
        "id": "dc9a44bba74954d2",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "Set URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'ToDevice/' & $flowContext('id')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "16e21ab268612f1e"
            ]
        ]
    },
    {
        "id": "e5e469f546877986",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "Set Host and Port",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "9cb3f87d5803ef00"
            ]
        ]
    },
    {
        "id": "79da5e35fbbc93f8",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 45",
        "links": [
            "4444bfbafa153eec"
        ],
        "x": 1125,
        "y": 440,
        "wires": [
            [
                "17c3ab744cb88da0"
            ]
        ]
    },
    {
        "id": "8d971bf7b0481225",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 46",
        "links": [
            "4444bfbafa153eec"
        ],
        "x": 1145,
        "y": 520,
        "wires": [
            [
                "e5e469f546877986"
            ]
        ]
    },
    {
        "id": "2897ef21b7e94a83",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 47",
        "links": [
            "4444bfbafa153eec"
        ],
        "x": 1165,
        "y": 680,
        "wires": [
            [
                "dc9a44bba74954d2"
            ]
        ]
    },
    {
        "id": "4db603c45a36131e",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'ToDevice/' & $flowContext('payload.id')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 300,
        "wires": [
            [
                "97639973ae7afe14",
                "13330a5229df6135"
            ]
        ]
    },
    {
        "id": "453dc20ebbae07cf",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 48",
        "links": [
            "26d7074e84cca523",
            "916b3d897a697285"
        ],
        "x": 1145,
        "y": 300,
        "wires": [
            [
                "4db603c45a36131e"
            ]
        ]
    },
    {
        "id": "cb5e9f7ad5136d47",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 49",
        "links": [
            "26d7074e84cca523",
            "916b3d897a697285"
        ],
        "x": 1345,
        "y": 380,
        "wires": [
            [
                "0f7465abf873bd05"
            ]
        ]
    },
    {
        "id": "49a8dd708c1b4f34",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 50",
        "links": [
            "26d7074e84cca523",
            "916b3d897a697285"
        ],
        "x": 1345,
        "y": 480,
        "wires": [
            [
                "7934503c5f821063"
            ]
        ]
    },
    {
        "id": "fa6d2e984fcf7cfc",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 51",
        "links": [
            "26d7074e84cca523",
            "916b3d897a697285"
        ],
        "x": 1345,
        "y": 560,
        "wires": [
            [
                "9cb3f87d5803ef00"
            ]
        ]
    },
    {
        "id": "8fed383227e051a1",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 52",
        "links": [
            "26d7074e84cca523",
            "916b3d897a697285"
        ],
        "x": 1305,
        "y": 720,
        "wires": [
            [
                "16e21ab268612f1e"
            ]
        ]
    },
    {
        "id": "a53b690add9c95d8",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "link in 53",
        "links": [
            "26d7074e84cca523",
            "916b3d897a697285"
        ],
        "x": 1285,
        "y": 620,
        "wires": [
            [
                "754ae284ffe99c31"
            ]
        ]
    },
    {
        "id": "b02248e1f8d487f1",
        "type": "ui_button",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "RESET",
        "group": "ddc4c194acf07958",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-lock",
        "payload": "{\"command\":\"RESET\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "c16d3978917dde1e"
            ]
        ]
    },
    {
        "id": "b7734c6ffcf854ea",
        "type": "ui_button",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "SOLVE",
        "group": "ddc4c194acf07958",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-unlock",
        "payload": "{\"command\":\"SOLVE\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "c88c7bb4822e7522"
            ]
        ]
    },
    {
        "id": "c88c7bb4822e7522",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "SOLVE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "41e7fd674b4abf78"
            ]
        ]
    },
    {
        "id": "c16d3978917dde1e",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "RESET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "41e7fd674b4abf78"
            ]
        ]
    },
    {
        "id": "41e7fd674b4abf78",
        "type": "json",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 510,
        "y": 680,
        "wires": [
            [
                "26d7074e84cca523"
            ]
        ]
    },
    {
        "id": "26d7074e84cca523",
        "type": "link out",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "18404cad9ee52512",
            "453dc20ebbae07cf",
            "cb5e9f7ad5136d47",
            "49a8dd708c1b4f34",
            "fa6d2e984fcf7cfc",
            "8fed383227e051a1",
            "a53b690add9c95d8"
        ],
        "x": 595,
        "y": 680,
        "wires": []
    },
    {
        "id": "cb509f47926e0892",
        "type": "ui_template",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "group": "ddc4c194acf07958",
        "name": "Dashboard Panel",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.state=='SOLVED' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.state=='S' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\" ng-repeat=\"input in msg.payload.inputs track by $index\">\n        <span style=\"font-size: 2em;\">{{input.F}}  </span>\n        <span ng-class=\"input.S == 1 ? 'fa fa-2x fa-arrows-h' : 'fa fa-2x '\">&nbsp;</span>\n        <span style=\"font-size: 2em;\">{{input.T}} </span>\n    </div>\n    <div style=\"height:10px;\">&nbsp;</div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "252b7e825424bfbc",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "7a422e636d546f40",
        "name": "link in 54",
        "links": [
            "4444bfbafa153eec",
            "a3468a7870285df5"
        ],
        "x": 265,
        "y": 600,
        "wires": [
            [
                "cb509f47926e0892"
            ]
        ]
    },
    {
        "id": "1a47e0035cae9ff0",
        "type": "change",
        "z": "93bfa7be5611ed79",
        "g": "2474c6296f0ff089",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "RESET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "d61cf2628d35a7fc"
            ]
        ]
    },
    {
        "id": "3b72506c6dd97cd0",
        "type": "link in",
        "z": "93bfa7be5611ed79",
        "g": "2474c6296f0ff089",
        "name": "link in 55",
        "links": [],
        "x": 625,
        "y": 120,
        "wires": [
            [
                "1a47e0035cae9ff0"
            ]
        ]
    },
    {
        "id": "d61cf2628d35a7fc",
        "type": "json",
        "z": "93bfa7be5611ed79",
        "g": "2474c6296f0ff089",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "916b3d897a697285"
            ]
        ]
    },
    {
        "id": "916b3d897a697285",
        "type": "link out",
        "z": "93bfa7be5611ed79",
        "g": "2474c6296f0ff089",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "18404cad9ee52512",
            "453dc20ebbae07cf",
            "cb5e9f7ad5136d47",
            "49a8dd708c1b4f34",
            "fa6d2e984fcf7cfc",
            "8fed383227e051a1",
            "a53b690add9c95d8"
        ],
        "x": 975,
        "y": 120,
        "wires": []
    },
    {
        "id": "13330a5229df6135",
        "type": "debug",
        "z": "93bfa7be5611ed79",
        "g": "6f6edaeb1d55cba0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 260,
        "wires": []
    },
    {
        "id": "5cf9f3f76f7e865f",
        "type": "ui_template",
        "z": "a1538f107b6f4fdc",
        "group": "8f886ae1479c4797",
        "name": "Button Panel",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.state=='SOLVED' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.state=='SOLVED' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">&nbsp;</span>\n    </div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d244cacd33b48c04",
        "type": "json",
        "z": "a1538f107b6f4fdc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "b0bbeb33dee663d4"
            ]
        ]
    },
    {
        "id": "b0bbeb33dee663d4",
        "type": "function",
        "z": "a1538f107b6f4fdc",
        "name": "Parse JSON and update global state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "5cf9f3f76f7e865f"
            ]
        ]
    },
    {
        "id": "717ad61c6b53591d",
        "type": "ui_button",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "RESET",
        "group": "8f886ae1479c4797",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-lock",
        "payload": "{\"command\":\"RESET\"}",
        "payloadType": "json",
        "topic": "",
        "x": 520,
        "y": 520,
        "wires": [
            [
                "46fe3fba38d8ec55"
            ]
        ]
    },
    {
        "id": "8a055186d1dd9b0f",
        "type": "ui_button",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "SOLVE",
        "group": "8f886ae1479c4797",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-unlock",
        "payload": "{\"command\":\"SOLVE\"}",
        "payloadType": "json",
        "topic": "",
        "x": 519,
        "y": 480,
        "wires": [
            [
                "46fe3fba38d8ec55"
            ]
        ]
    },
    {
        "id": "fe525b913c466898",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "Configuration",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "{\"id\":\"Button-1\",\"name\":\"Button\",\"description\":\"Players must press a button\",\"state\":\"UNSOLVED\",\"ip\":\"192.168.0.180\",\"port\":\"161\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "91f5a57b8686c80a",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "On Initialisation",
        "links": [
            "8a4dffa5.a7935"
        ],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "fe525b913c466898"
            ]
        ]
    },
    {
        "id": "eae1ab410ce116f7",
        "type": "mqtt in",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "MQTT FromDevice",
        "topic": "FromDevice/Button-1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "125f6c81.60151b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "e515b2cbd3fd607a",
        "type": "udp in",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "",
        "iface": "",
        "port": "161",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "1c527c4b5a4abf42",
        "type": "tcp in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "server": "server",
        "host": "",
        "port": "80",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "9db6f797af565f6d",
        "type": "serial in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "serial": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "74647cf8af72f5f2",
        "type": "websocket in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "server": "4e976676.9e1538",
        "client": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "c1ae3a0b21703c42",
        "type": "http in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "url": "",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "9b390b713b48f7f6",
        "type": "mqtt out",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "MQTT ToDevice",
        "topic": "ToDevice/Button-1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "125f6c81.60151b",
        "x": 1180,
        "y": 440,
        "wires": []
    },
    {
        "id": "aab1e2292b20982c",
        "type": "tcp out",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "e7783caa4d468f89",
        "type": "serial out",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "serial": "",
        "x": 1210,
        "y": 480,
        "wires": []
    },
    {
        "id": "3ee03b513fbbadf7",
        "type": "udp out",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1210,
        "y": 520,
        "wires": []
    },
    {
        "id": "8033bc0ae52a4c01",
        "type": "websocket out",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "server": "4e976676.9e1538",
        "client": "",
        "x": 1190,
        "y": 600,
        "wires": []
    },
    {
        "id": "3420a7e0ad035902",
        "type": "http request",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fad501df9730e3cd",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "On Reset",
        "links": [
            "c9289f5e.1fb3b8"
        ],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "fe525b913c466898"
            ]
        ]
    },
    {
        "id": "6aa55bc0969c2645",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "name": "On Reset",
        "links": [
            "c9289f5e.1fb3b8"
        ],
        "x": 385,
        "y": 600,
        "wires": [
            [
                "936acb30e1aa36d2"
            ]
        ]
    },
    {
        "id": "936acb30e1aa36d2",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"RESET\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "46fe3fba38d8ec55"
            ]
        ]
    },
    {
        "id": "7b830cddb6dc1176",
        "type": "json",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1090,
        "y": 520,
        "wires": [
            [
                "3ee03b513fbbadf7"
            ]
        ]
    },
    {
        "id": "4365ef5bec7a3903",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "Set Device IP and Port",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "7b830cddb6dc1176"
            ]
        ]
    },
    {
        "id": "18404cad9ee52512",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 1",
        "links": [
            "46fe3fba38d8ec55"
        ],
        "x": 765,
        "y": 520,
        "wires": [
            [
                "4365ef5bec7a3903",
                "9b390b713b48f7f6"
            ]
        ]
    },
    {
        "id": "46fe3fba38d8ec55",
        "type": "link out",
        "z": "a1538f107b6f4fdc",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "18404cad9ee52512"
        ],
        "x": 695,
        "y": 520,
        "wires": []
    },
    {
        "id": "f045a30af8ee1b2f",
        "type": "change",
        "z": "fcf0c6616a19d3cd",
        "name": "Config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "{\"id\":\"Reed\",\"name\":\"Reed Switch\",\"description\":\"Players must hold a magnet over the Reed switch\",\"state\":\"UNSOLVED\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 246,
        "y": 190,
        "wires": [
            [
                "5cf14bf0b6f1c276"
            ]
        ]
    },
    {
        "id": "e92964aa353d4f64",
        "type": "ui_template",
        "z": "fcf0c6616a19d3cd",
        "group": "712f4f6179783e86",
        "name": "Dashboard Panel",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.state=='SOLVED' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.state=='SOLVED' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 876.5,
        "y": 371,
        "wires": [
            []
        ]
    },
    {
        "id": "f936bec5c561d00f",
        "type": "mqtt in",
        "z": "fcf0c6616a19d3cd",
        "name": "MQTT FromDevice",
        "topic": "FromDevice/Reed",
        "qos": "2",
        "datatype": "auto",
        "broker": "125f6c81.60151b",
        "inputs": 0,
        "x": 422.5,
        "y": 331,
        "wires": [
            [
                "6213a684a8044a88"
            ]
        ]
    },
    {
        "id": "5cf14bf0b6f1c276",
        "type": "json",
        "z": "fcf0c6616a19d3cd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 367.5,
        "y": 190,
        "wires": [
            [
                "d9c47b840cb9a26f"
            ]
        ]
    },
    {
        "id": "6213a684a8044a88",
        "type": "function",
        "z": "fcf0c6616a19d3cd",
        "name": "Update global state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nprop['state'] = msg.payload;\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:msg.payload['state']});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660.5,
        "y": 371,
        "wires": [
            [
                "e92964aa353d4f64"
            ]
        ]
    },
    {
        "id": "fa9d6dd2e8baa562",
        "type": "mqtt out",
        "z": "fcf0c6616a19d3cd",
        "name": "MQTT ToDevice",
        "topic": "ToDevice/Reed",
        "qos": "",
        "retain": "",
        "broker": "125f6c81.60151b",
        "x": 1114.5,
        "y": 371,
        "wires": []
    },
    {
        "id": "f9aea4291f22a6ba",
        "type": "inject",
        "z": "fcf0c6616a19d3cd",
        "name": "Solve",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SOLVED",
        "payloadType": "str",
        "x": 451,
        "y": 547,
        "wires": [
            [
                "6213a684a8044a88"
            ]
        ]
    },
    {
        "id": "72f9857bdb24ae68",
        "type": "inject",
        "z": "fcf0c6616a19d3cd",
        "name": "Reset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "UNSOLVED",
        "payloadType": "str",
        "x": 450.5,
        "y": 502,
        "wires": [
            [
                "6213a684a8044a88"
            ]
        ]
    },
    {
        "id": "17f2d525a05734ac",
        "type": "ui_button",
        "z": "fcf0c6616a19d3cd",
        "name": "RESET",
        "group": "712f4f6179783e86",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-lock",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "",
        "x": 904.5,
        "y": 323,
        "wires": [
            [
                "fa9d6dd2e8baa562"
            ]
        ]
    },
    {
        "id": "9fd6e3cb82994e87",
        "type": "ui_button",
        "z": "fcf0c6616a19d3cd",
        "name": "SOLVE",
        "group": "712f4f6179783e86",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-unlock",
        "payload": "SOLVE",
        "payloadType": "str",
        "topic": "",
        "x": 903.5,
        "y": 283,
        "wires": [
            [
                "fa9d6dd2e8baa562"
            ]
        ]
    },
    {
        "id": "4412e55394e5092c",
        "type": "link in",
        "z": "fcf0c6616a19d3cd",
        "name": "",
        "links": [
            "8a4dffa5.a7935"
        ],
        "x": 153,
        "y": 190,
        "wires": [
            [
                "f045a30af8ee1b2f"
            ]
        ]
    },
    {
        "id": "d9c47b840cb9a26f",
        "type": "function",
        "z": "fcf0c6616a19d3cd",
        "name": "Parse JSON and update global state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 190,
        "wires": [
            [
                "e92964aa353d4f64"
            ]
        ]
    },
    {
        "id": "39e25219b470bf16",
        "type": "comment",
        "z": "fcf0c6616a19d3cd",
        "name": "Initial configuration",
        "info": "",
        "x": 285.5,
        "y": 149,
        "wires": []
    },
    {
        "id": "52dd4913487bd5d5",
        "type": "comment",
        "z": "fcf0c6616a19d3cd",
        "name": "Updates received via MQTT as plain text",
        "info": "",
        "x": 492,
        "y": 288,
        "wires": []
    },
    {
        "id": "432049d433705336",
        "type": "comment",
        "z": "fcf0c6616a19d3cd",
        "name": "This flow demonstrates a device that sends and receives status updates as plain text delivered over MQTT",
        "info": "",
        "x": 727.5,
        "y": 66,
        "wires": []
    },
    {
        "id": "9bd314a768d99539",
        "type": "comment",
        "z": "fcf0c6616a19d3cd",
        "name": "Simulate incoming message",
        "info": "",
        "x": 379,
        "y": 460,
        "wires": []
    }
]