flows.json
[
    {
        "id": "bc3f40f178b15cc3",
        "type": "tab",
        "label": "Ablauf",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "350f3f1be5bf834e",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "063501cbf8d4d96b",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "aa84b0b3f6f24d4c",
            "e2d366190836429a",
            "758310f9eb5818de",
            "c7c4685c94a69e6f",
            "34e41184596a8cc2",
            "87d09c692b8687fc"
        ],
        "x": 34,
        "y": 79,
        "w": 302,
        "h": 202
    },
    {
        "id": "88186d2d626ead90",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "c60ade8d2522e8b4",
            "42d9fcf53b80577d"
        ],
        "x": 374,
        "y": 79,
        "w": 312,
        "h": 82
    },
    {
        "id": "1d39f27b3d601c72",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "197160bd5c9b62c4",
            "0deb9fba3b6f3c48",
            "c1d322a0a9c2b4ac",
            "4a56258a14858018",
            "d2bfa31323cf7730",
            "98ab54042d4213d0",
            "342f119e8f4998e2",
            "890f86205d47ef77",
            "ef582930fa6e08ef",
            "4e6a3fb6ac8e60de",
            "4a863b19c2050c0a",
            "4f3e8b2d7209c3c4",
            "442e7bc38dd4c3b7",
            "06ef4faf69df41d0",
            "e24e2635213fc060",
            "21d47c54a97169e3",
            "054b36ebe3c3f2f6",
            "42027097dca022f3"
        ],
        "x": 34,
        "y": 299,
        "w": 672,
        "h": 242
    },
    {
        "id": "c870415b6658eca9",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "4a9c0dfb1f0b9b85",
            "c8fb5887561b01d3",
            "39e77fdf6d2e5543",
            "75a596869f308dab",
            "e7252fb6a4819ecf",
            "f457b1998a5d01b9",
            "2ce811328a35a524",
            "a98c2ab0de57b58a",
            "32180624627a2049",
            "f93150b86a48dd2b",
            "0c9d3ef3bf7c7bc0",
            "465e64fa2453bb6a",
            "6e87bf8ee8b2ac47",
            "f020309c907b1b75",
            "59b3354d12a64752",
            "65c75d67cdeec25c"
        ],
        "x": 34,
        "y": 559,
        "w": 812,
        "h": 342
    },
    {
        "id": "1f4858029cf46f27",
        "type": "group",
        "z": "bc3f40f178b15cc3",
        "name": "Finale Button",
        "style": {
            "label": true
        },
        "nodes": [
            "1cb8410f1e8faed8",
            "33594149ba6f023e",
            "328bab6004f0eb10",
            "f20ce2e56b374556",
            "5c4b4104d87193de",
            "d50f6585c7c521e4",
            "3697c0b81e0b8ff9",
            "f03df95382fdf2dc"
        ],
        "x": 34,
        "y": 379,
        "w": 1132,
        "h": 122
    },
    {
        "id": "eaeca8afb05066c4",
        "type": "group",
        "z": "bc3f40f178b15cc3",
        "name": "Alarm",
        "style": {
            "label": true
        },
        "nodes": [
            "13fc056b006dae96",
            "a64be0597031f9c8",
            "4d67412aeea1faa0",
            "976efef9bdb1335e",
            "187e5a21f93c95b5"
        ],
        "x": 44,
        "y": 239,
        "w": 762,
        "h": 122
    },
    {
        "id": "f08ba3d0ec182a89",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "a38c3d325d960343",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "45013fdfd43f76cb",
        "type": "ui_spacer",
        "z": "350f3f1be5bf834e",
        "name": "spacer",
        "group": "f08ba3d0ec182a89",
        "order": 6,
        "width": "6",
        "height": "1"
    },
    {
        "id": "3a054ffea2c5314f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8396df2f5978da6f",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d02b7f3c5e5df6dc",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bc988420b6a0a649",
        "type": "websocket-listener",
        "path": "/ws/input",
        "wholemsg": "false"
    },
    {
        "id": "8f886ae1479c4797",
        "type": "ui_group",
        "name": "Button",
        "tab": "a38c3d325d960343",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e976676.9e1538",
        "type": "websocket-listener",
        "path": "/ws/input",
        "wholemsg": "false"
    },
    {
        "id": "712f4f6179783e86",
        "type": "ui_group",
        "name": "Cover Up",
        "tab": "a38c3d325d960343",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "af93c53b4bbc79b1",
        "type": "ui_group",
        "name": "Finale Button",
        "tab": "a38c3d325d960343",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85af954bd285e250",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b33c16c8e02f206e",
        "type": "ui_group",
        "name": "Alarm deaktivieren",
        "tab": "a38c3d325d960343",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cb8410f1e8faed8",
        "type": "rpi-gpio in",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "",
        "pin": "4",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "328bab6004f0eb10"
            ]
        ]
    },
    {
        "id": "33594149ba6f023e",
        "type": "ui_switch",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "",
        "label": "Großer roter Knopf",
        "tooltip": "",
        "group": "af93c53b4bbc79b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "3697c0b81e0b8ff9"
            ]
        ]
    },
    {
        "id": "328bab6004f0eb10",
        "type": "change",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "33594149ba6f023e"
            ]
        ]
    },
    {
        "id": "f20ce2e56b374556",
        "type": "change",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + $millis() - $flowContext('startTime')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "d50f6585c7c521e4"
            ]
        ]
    },
    {
        "id": "5c4b4104d87193de",
        "type": "switch",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "f20ce2e56b374556"
            ]
        ]
    },
    {
        "id": "d50f6585c7c521e4",
        "type": "link out",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "On Game Stop",
        "mode": "link",
        "links": [
            "75a596869f308dab"
        ],
        "x": 1125,
        "y": 460,
        "wires": []
    },
    {
        "id": "3697c0b81e0b8ff9",
        "type": "switch",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "nur true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "5c4b4104d87193de"
            ]
        ]
    },
    {
        "id": "f03df95382fdf2dc",
        "type": "comment",
        "z": "bc3f40f178b15cc3",
        "g": "1f4858029cf46f27",
        "name": "Spiel Stoppen",
        "info": "",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "13fc056b006dae96",
        "type": "rpi-gpio out",
        "z": "bc3f40f178b15cc3",
        "g": "eaeca8afb05066c4",
        "name": "",
        "pin": "17",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "a64be0597031f9c8",
        "type": "ui_switch",
        "z": "bc3f40f178b15cc3",
        "g": "eaeca8afb05066c4",
        "name": "",
        "label": "Alarm",
        "tooltip": "",
        "group": "b33c16c8e02f206e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "13fc056b006dae96"
            ]
        ]
    },
    {
        "id": "4d67412aeea1faa0",
        "type": "link in",
        "z": "bc3f40f178b15cc3",
        "g": "eaeca8afb05066c4",
        "name": "alarm",
        "links": [
            "21d47c54a97169e3",
            "e24e2635213fc060"
        ],
        "x": 85,
        "y": 280,
        "wires": [
            [
                "976efef9bdb1335e"
            ]
        ]
    },
    {
        "id": "976efef9bdb1335e",
        "type": "change",
        "z": "bc3f40f178b15cc3",
        "g": "eaeca8afb05066c4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "start",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "stop",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "a64be0597031f9c8"
            ]
        ]
    },
    {
        "id": "187e5a21f93c95b5",
        "type": "ui_text",
        "z": "bc3f40f178b15cc3",
        "g": "eaeca8afb05066c4",
        "group": "b33c16c8e02f206e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Bedingung",
        "format": "Der Alarm muss vom GM manuell deaktiviert werden, sobald das Lüftungsrohr erfolgreich zugemauert wurde.",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "4a56258a14858018",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "ef582930fa6e08ef"
            ]
        ]
    },
    {
        "id": "d2bfa31323cf7730",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + $millis() - $flowContext('startTime')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "4a863b19c2050c0a"
            ]
        ]
    },
    {
        "id": "98ab54042d4213d0",
        "type": "switch",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "4a56258a14858018"
            ]
        ]
    },
    {
        "id": "342f119e8f4998e2",
        "type": "switch",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "d2bfa31323cf7730"
            ]
        ]
    },
    {
        "id": "890f86205d47ef77",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "gameDuration",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "timeElapsed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "442e7bc38dd4c3b7"
            ]
        ]
    },
    {
        "id": "c60ade8d2522e8b4",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "88186d2d626ead90",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"gameDuration\", 3600000);\nglobal.set(\"elapsedTimeDelta\", 0);\nglobal.set(\"timeElapsed\", 0);\nglobal.set(\"timeRemaining\", 3600000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "cd9c79c0f7ca4c12"
            ]
        ]
    },
    {
        "id": "42d9fcf53b80577d",
        "type": "link in",
        "z": "350f3f1be5bf834e",
        "g": "88186d2d626ead90",
        "name": "",
        "links": [
            "758310f9eb5818de"
        ],
        "x": 415,
        "y": 120,
        "wires": [
            [
                "c60ade8d2522e8b4"
            ]
        ]
    },
    {
        "id": "ef582930fa6e08ef",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Start",
        "mode": "link",
        "links": [
            "75a596869f308dab"
        ],
        "x": 495,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e6a3fb6ac8e60de",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a863b19c2050c0a",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Stop",
        "mode": "link",
        "links": [
            "75a596869f308dab",
            "ef33beeff378a0e1"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f3e8b2d7209c3c4",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Stop",
        "info": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "442e7bc38dd4c3b7",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Reset",
        "mode": "link",
        "links": [
            "75a596869f308dab"
        ],
        "x": 495,
        "y": 500,
        "wires": []
    },
    {
        "id": "05b37843628a96bf",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "aa84b0b3f6f24d4c",
        "type": "inject",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "Every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c7c4685c94a69e6f"
            ]
        ]
    },
    {
        "id": "e2d366190836429a",
        "type": "inject",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Initialisation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "758310f9eb5818de"
            ]
        ]
    },
    {
        "id": "758310f9eb5818de",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "42d9fcf53b80577d",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6"
        ],
        "x": 295,
        "y": 120,
        "wires": []
    },
    {
        "id": "c7c4685c94a69e6f",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Tick",
        "links": [
            "81cfa1d4.86b898",
            "75a596869f308dab",
            "d9928e8d.c5c588",
            "c0f514cb.a0e9c8",
            "e1535ac3.a19198",
            "e4a697a8.359b38",
            "8bdfc662.b74d28",
            "fde61d47216f1287"
        ],
        "x": 295,
        "y": 180,
        "wires": []
    },
    {
        "id": "87d09c692b8687fc",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Browser Refresh",
        "mode": "link",
        "links": [],
        "x": 295,
        "y": 240,
        "wires": []
    },
    {
        "id": "e364bd8ab15e99bb",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Dashboard Styling",
        "info": "",
        "x": 990,
        "y": 101,
        "wires": []
    },
    {
        "id": "a16e88a8d5c65b16",
        "type": "catch",
        "z": "350f3f1be5bf834e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 940,
        "y": 260,
        "wires": [
            [
                "c02c1b80ce61d7d7"
            ]
        ]
    },
    {
        "id": "c02c1b80ce61d7d7",
        "type": "debug",
        "z": "350f3f1be5bf834e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "a4e1b2d5ee32da8d",
        "type": "complete",
        "z": "350f3f1be5bf834e",
        "d": true,
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "c02c1b80ce61d7d7"
            ]
        ]
    },
    {
        "id": "21156e9a382b1245",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Exception Handling",
        "info": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd9c79c0f7ca4c12",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 695,
        "y": 120,
        "wires": []
    },
    {
        "id": "06ef4faf69df41d0",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a9c0dfb1f0b9b85",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Update Timer",
        "func": "// Retrieve current state of global timer variables\nvar gameState = global.get(\"gameState\") || 'playing';\nvar gameDuration = global.get(\"gameDuration\") || 0;\nvar elapsedTimeDelta = global.get(\"elapsedTimeDelta\") || 0;\n// Total time elapsed is duration since the start button was last pressed, + any adjustments\nvar timeElapsed = global.get(\"timeElapsed\") || 0;\nvar startTime = flow.get(\"startTime\") || 0;\n\n// If the game is active, update the time elapsed\nif(gameState == \"playing\") {\n\n    // Total time elapsed is duration since the start button was last pressed, + any adjustments\n    timeElapsed = (Date.now() - startTime);\n\n    // Update the global variable\n    global.set(\"timeElapsed\", timeElapsed);\n}\n\n// We update these even if gameState is not playing, to allow for\n// adjustments to gameDuration or timeElapsed made when game is stopped\nvar timeElapsedAfterAdjustments = timeElapsed += elapsedTimeDelta;\nvar timeRemaining = gameDuration - timeElapsed;\n\nglobal.set(\"timeRemaining\", timeRemaining);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: timeRemaining });\n\n// Update the msg to carry string\nmsg.timeElapsed = timeElapsedAfterAdjustments;        \nmsg.timeRemaining = timeRemaining;\n\n// Only need to update UI if timeRemaining has changed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 600,
        "wires": [
            [
                "39e77fdf6d2e5543"
            ]
        ]
    },
    {
        "id": "39e77fdf6d2e5543",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Format Time for Dashboard Display",
        "func": "// Create formattedTime in hh:mm:ss\nvar t = msg.timeElapsed / 1000; //ms\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\nmsg.formattedTimeElapsed = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\nvar t2 = msg.timeRemaining / 1000; //ms\nvar h2 = Math.floor(t2 / 3600);\nvar m2 = Math.floor(t2 % 3600 / 60);\nvar s2 = Math.floor(t2 % 3600 % 60);\nmsg.formattedTimeRemaining = (\"0\" + h2).slice(-2) + \":\" + (\"0\" + m2).slice(-2) + \":\" + (\"0\" + s2).slice(-2);\n\nvar t3 = global.get(\"gameDuration\") / 1000; //ms\nvar h3 = Math.floor(t3 / 3600);\nvar m3 = Math.floor(t3 % 3600 / 60);\nvar s3 = Math.floor(t3 % 3600 % 60);\nmsg.formattedGameDuration = (\"0\" + h3).slice(-2) + \":\" + (\"0\" + m3).slice(-2) + \":\" + (\"0\" + s3).slice(-2);\n\n// Set timeColour depending on current gamestate and time remaining\nvar gameState = global.get(\"gameState\");\nif (gameState == \"playing\") {\n    if (msg.timeRemaining < 60000) { msg.timeColour = \"red\"; }\n    else { msg.timeColour = \"green\"; }\n}\nelse { msg.timeColour = \"white\"; }\n\n// Update the editor node\nnode.status({ fill: msg.timeColour, shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "c8fb5887561b01d3",
                "f93150b86a48dd2b",
                "59b3354d12a64752"
            ]
        ]
    },
    {
        "id": "75a596869f308dab",
        "type": "link in",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "links": [
            "c7c4685c94a69e6f",
            "ef582930fa6e08ef",
            "4a863b19c2050c0a",
            "442e7bc38dd4c3b7",
            "cd9c79c0f7ca4c12",
            "32180624627a2049",
            "d50f6585c7c521e4"
        ],
        "x": 85,
        "y": 600,
        "wires": [
            [
                "4a9c0dfb1f0b9b85"
            ]
        ]
    },
    {
        "id": "2ce811328a35a524",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "a98c2ab0de57b58a",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 780,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "32180624627a2049",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "75a596869f308dab"
        ],
        "x": 535,
        "y": 800,
        "wires": []
    },
    {
        "id": "0c9d3ef3bf7c7bc0",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 820,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "6e87bf8ee8b2ac47",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "65c75d67cdeec25c",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 700,
        "wires": []
    },
    {
        "id": "197160bd5c9b62c4",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 5,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "98ab54042d4213d0",
                "054b36ebe3c3f2f6"
            ]
        ]
    },
    {
        "id": "0deb9fba3b6f3c48",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 3,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-stop",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "342f119e8f4998e2",
                "42027097dca022f3"
            ]
        ]
    },
    {
        "id": "c1d322a0a9c2b4ac",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "890f86205d47ef77"
            ]
        ]
    },
    {
        "id": "e7252fb6a4819ecf",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 9,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "2ce811328a35a524"
            ]
        ]
    },
    {
        "id": "f457b1998a5d01b9",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "a98c2ab0de57b58a"
            ]
        ]
    },
    {
        "id": "465e64fa2453bb6a",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 12,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "0c9d3ef3bf7c7bc0"
            ]
        ]
    },
    {
        "id": "f020309c907b1b75",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "6e87bf8ee8b2ac47"
            ]
        ]
    },
    {
        "id": "f93150b86a48dd2b",
        "type": "ui_text",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "order": 8,
        "width": "2",
        "height": "1",
        "name": "Game Duration",
        "label": "Duration",
        "format": "{{msg.formattedGameDuration}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "59b3354d12a64752",
        "type": "ui_text",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "order": 11,
        "width": "2",
        "height": "1",
        "name": "Time Elapsed",
        "label": "Elapsed",
        "format": "{{msg.formattedTimeElapsed}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "34e41184596a8cc2",
        "type": "ui_ui_control",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "87d09c692b8687fc"
            ]
        ]
    },
    {
        "id": "0b46b07651aabd95",
        "type": "ui_template",
        "z": "350f3f1be5bf834e",
        "group": "f08ba3d0ec182a89",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1000,
        "y": 140,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "c8fb5887561b01d3",
        "type": "ui_template",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "name": "Time Remaining",
        "order": 2,
        "width": "6",
        "height": "3",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.formattedTimeRemaining}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e24e2635213fc060",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "start pure out",
        "mode": "link",
        "links": [
            "4d67412aeea1faa0"
        ],
        "x": 495,
        "y": 380,
        "wires": []
    },
    {
        "id": "21d47c54a97169e3",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "stop pure out",
        "mode": "link",
        "links": [
            "4d67412aeea1faa0"
        ],
        "x": 495,
        "y": 460,
        "wires": []
    },
    {
        "id": "054b36ebe3c3f2f6",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "e24e2635213fc060"
            ]
        ]
    },
    {
        "id": "42027097dca022f3",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "21d47c54a97169e3"
            ]
        ]
    }
]